.range {
  padding-top: 30px;
  padding-bottom: 24px;

  @media (min-width: $desktop-width) {
    padding-bottom: 28px;
  }
}

.range__scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #e2e2e2;
  border-radius: 2px;
}

.range__bar {
  position: absolute;
  left: 10px;
  width: 242px;
  height: 4px;
  background-color: $range-color;

  @media (min-width: $tablet-width) {
    width: 190px;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
  }
}

.range__toggle {
  position: absolute;
  width: 22px;
  height: 22px;
  background: #ffffff;
  border: 2px solid $range-color;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    background-color: transparent;
  }
}

.range__toggle--min {
  top: -8px;
  left: -2px;

  @media (min-width: $desktop-width) {
    left: -8px;
  }
}

.range__toggle--max {
  top: -8px;
  right: -7px;
}

.range__wrapper-inputs {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 18px;

  @media (min-width: $tablet-width) {
    padding-left: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 320px;
  }
}

.range__wrapper-inputs::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 9px;
  left: 135px;
  top: 38px;
  background-color: $radio-color;

  @media (min-width: $tablet-width) {
    left: 108px;
  }

  @media (min-width: $desktop-width) {
    top: 35px;
    left: 155px;
  }
}

.range__filter-label {
  display: flex;
  margin-right: 19px;

  @media (min-width: $tablet-width) {
    margin-right: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 6px;
  }
}

.range__input {
  width: 118px;
  padding: 8px 4px;
  font: inherit;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid $range-color;
  appearance: textfield;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 93px;
  }

  @media (min-width: $desktop-width) {
    width: 127px;
  }
}

.range__input--min {
  color: $radio-color;

  @media (min-width: $tablet-width) {
    margin-right: 34px;
  }
}

.range__toggle:hover,
.range__toggle:focus {
  background-color: #f0ebff;
}

.range__toggle:active {
  background-color: $button-color;
}

.range__toggle:disabled,
.range__bar:disabled {
  background-color: $radio-color;
}
